* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

section {
    padding: 20px;
    margin: 10px;
}

#hero {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 50px 20px;
}

#about-me,
#projects,
#contact-me {
    background-color: #f4f4f4;
    border-radius: 5px;
}

h2 {
    margin-bottom: 10px;
    color: #333;
}

.project {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

form{
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 8px;
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

